<!-- <body ng-controller="mainController as ctrl">
<!Admin Access Page -->

<!-- <section id="admin" ng-if='ctrl.adminLoggedIn' ng-show='ctrl.adminAccess'> -->


  <!-- this may be useful for setting up admin access: -->

        <!-- <p>Logged in username: {{ ctrl.user.username }}</p> -->
        <!-- <h4 ng-click="ctrl.getUsers()">Click to see secret stuff</h4>
        <div> {{ ctrl.error }} </div>


        <div ng-repeat="user in ctrl.users">
          <h1>{{ user.username }}</h1>
        </div> --> 
