<section id="plan" ng-if="ctrl.loggedin" ng-hide="!ctrl.loggedin">


  <!-- Create New Success Plan --> <!-- Large modal -->
  <div id="createPlan" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">


            <form name="form.createPlanForm" class="ng-modal-overlay ng-modal-dialog" ng-if="ctrl.showPlanForm" ng-submit="ctrl.createPlan()">


                <div class="form-group">
                  <input type="text" class="form-control" ng-model="ctrl.newPlan.title" placeholder="Plan Title"/></div>


                <div class="form-group">
                  <input type="text" class="form-control" ng-model="ctrl.newPlan.affective_goal" placeholder="Affective Growth Focus"/></div>


                <div class="form-group">
                  <input type="text" class="form-control" ng-model="ctrl.newPlan.academic_goal" placeholder="Academic Focus Area"/></div>


                <div class="form-group">
                  <input type="text" class="form-control" ng-model="ctrl.newPlan.task" placeholder="Current Task to Grow"/></div>


                <div class="form-group">
                  <input type="text" class="form-control" ng-model="ctrl.newPlan.measure" placeholder="How I'll Measure"/></div>


                <div class="form-group">
                  <input type="text" class="form-control" ng-model="ctrl.newPlan.actions" placeholder="Steps I'll Take"/></div>


                <div class="form-group">
                  <input type="text" class="form-control" ng-model="ctrl.newPlan.purpose" placeholder="Why I Chose This"/></div>


                <div class="form-group">
                  <input type="date" class="form-control" ng-model="ctrl.newPlan.deadline" placeholder="Proposed Deadline"/></div>


                  <input type="submit" class="submitButton"/>
                  <div class="closeModal" ng-click="ctrl.toggleModal()"><a href="">
                    <i class="fa fa-window-close extraClass" aria-hidden="true"></i></a>
                  </div>



                </form>
            </div>
        </div>
    </div>
</section>
