<section id="plans" ng-if="ctrl.loggedin" ng-hide="!ctrl.loggedin">


<!-- Large modal -->


  <div id="planShowPage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <h4 class="planDetails">{{ctrl.currentPlan.title}}</h4><br>
        <h4 class="planDetails">{{ctrl.currentPlan.affective_goal}}</h4><br>
        <h4 class="planDetails">{{ctrl.currentPlan.academic_goal}}</h4><br>
        <h4 class="planDetails">{{ctrl.currentPlan.task}}</h4><br>
        <h4 class="planDetails">{{ctrl.currentPlan.measure}}</h4><br>
        <h4 class="planDetails">{{ctrl.currentPlan.actions}}</h4><br>
        <h4 class="planDetails">{{ctrl.currentPlan.purpose}}</h4><br>
        <h4 class="planDetails">{{ctrl.currentPlan.deadline}}</h4><br>



          <button class="btn btn-default"ng-click="ctrl.toggleEditPlan();ctrl.editPlan(currentPlan.id);">Update</button>

          <form ng-submit="ctrl.deletePlan(currentPlan.id)" accept-charset="UTF-8" method="delete">
                    <input name="_method" type="hidden" value="destroy"/>
                    <button class="btn btn-default">Delete</button></form>

          <button type="button" name="button" data-dismiss="modal"><i class="fa fa-window-close extraClass" aria-hidden="true"></i></button>
          </div>
          </div>
          </div>

          </section>




<!-- Edit Plan Form -->

<div ng-if="ctrl.editPlanDisplay;">
  <form id="editPlanForm" method="update" ng-submit="ctrl.updatedPlan(ctrl.updatedPlan.title, ctrl.updatedPlan.affective_goal, ctrl.updatedPlan.academic_goal, ctrl.updatedPlan.task, ctrl.updatedPlan.measure, ctrl.updatedPlan.actions, ctrl.updatedPlan.purpose, ctrl.updatedPlan.deadline)">
    <fieldset class="editPlan">
      <div class="form-group">
        <input type="text" placeholder="Plan Title" ng-model="ctrl.updatedPlan.title"></br>

        <input type="text" ng-model="ctrl.updatedPlan.affective_goal" placeholder="Affective Growth Focus"/></br>

        <input type="text" ng-model="ctrl.updatedPlan.academic_goal" placeholder="Academic Focus Area"/> </br>

        <input type="text" ng-model="ctrl.updatedPlan.task" placeholder="Current Task to Grow"/> </br>

        <input type="text" ng-model="ctrl.updatedPlan.measure" placeholder="How I'll Measure"/> </br>

        <input type="text" ng-model="ctrl.updatedPlan.actions" placeholder="Steps I'll Take"/> </br>

        <input type="text" ng-model="ctrl.updatedPlan.purpose" placeholder="Why I Chose This"/> </br>

        <input type="date" ng-model="ctrl.updatedPlan.deadline" placeholder="Proposed Deadline"/> </br>


        <button type="submit" ng-click="ctrl.updatedPlan(); ctrl.toggleEditPlan();">Confirm</button>
        <button type="button" name="button" data-dismiss="modal"><i class="fa fa-window-close extraClass" aria-hidden="true"></i></button>
        <!-- adding this to the confirm to try to get for edit
        ctrl.setCurrentPlan(planList.id); -->

        <!-- <form ng-submit="ctrl.deletePlan(planList.id)" accept-charset="UTF-8" method="delete">
          <input name="_method" type="hidden" value="destroy"/>
          <button class="btn btn-default">Delete</button></h4></form> -->
      </div>
    </fieldset>
  </form>
</div>





<!--  End Plans Page ------------------------------------>
<!-- Start plans section -------------------------------->



<!-- <section id="plans" ng-if="ctrl.loggedin">
  <div class="container-fluid"> -->

    <!-- <h1 class="indexTitle" ng-click="ctrl.showUserPlanIndex();" ng-show="ctrl.currentPlan">Success Plan Index</h1> -->

    <!-- <ul id="planListTitles">

      <li class = "eachPlan" ng-repeat="plan in ctrl.plan track by $index" ng-show="ctrl.plan">

        <h3 class="planTitles"><a href="#" ng-click="ctrl.showPlanList = !ctrl.showPlanList; showPlanModal = !showPlanModal">Plan Title: {{ planList.title }}</a></h3>

         <div ng-show="showPlanModal" class="ng-modal-overlay ng-modal-plan">
        <div ng-repeat="currentPlan in ctrl.currentPlan track by $index">
          <h4>{{currentPlan.title}}</h4><br>
          <h4>{{currentPlan.affective_goal}}</h4><br> <h4>{{currentPlan.academic_goal}}</h4><br>
          <h4>{{currentPlan.task}}</h4><br>
          <h4>{{currentPlan.measure}}</h4><br>
          <h4>{{currentPlan.actions}}</h4><br>
          <h4>{{currentPlan.purpose}}</h4><br>
          <h4>{{currentPlan.deadline}}</h4><br>
        </div>

        <button type="button" class="submitButton" data-dismiss="modal" ng-click="showPlanModal = !showPlanModal">Close</button>


        <button class="submitButton" ng-click="ctrl.toggleEditPlan(); ctrl.editPlan(currentPlan.id);">Edit Plan</button> -->



        <!-- Edit Plan Form -->

        <!-- <div ng-if="ctrl.editPlanDisplay;">
          <form id="editPlanForm" method="update" ng-submit="ctrl.updatedPlan(ctrl.updatedPlan.title, ctrl.updatedPlan.affective_goal, ctrl.updatedPlan.academic_goal, ctrl.updatedPlan.task, ctrl.updatedPlan.measure, ctrl.updatedPlan.actions, ctrl.updatedPlan.purpose, ctrl.updatedPlan.deadline)">
            <fieldset class="editPlan">
              <div class="form-group">
                <input type="text" placeholder="Plan Title" ng-model="ctrl.updatedPlan.title"></br>

                <input type="text" ng-model="ctrl.updatedPlan.affective_goal" placeholder="Affective Growth Focus"/></br>

                <input type="text" ng-model="ctrl.updatedPlan.academic_goal" placeholder="Academic Focus Area"/> </br>

                <input type="text" ng-model="ctrl.updatedPlan.task" placeholder="Current Task to Grow"/> </br>

                <input type="text" ng-model="ctrl.updatedPlan.measure" placeholder="How I'll Measure"/> </br>

                <input type="text" ng-model="ctrl.updatedPlan.actions" placeholder="Steps I'll Take"/> </br>

                <input type="text" ng-model="ctrl.updatedPlan.purpose" placeholder="Why I Chose This"/> </br>

                <input type="date" ng-model="ctrl.updatedPlan.deadline" placeholder="Proposed Deadline"/> </br>


                <button type="submit" ng-click="ctrl.updatedPlan(); ctrl.toggleEditPlan();">Confirm</button>
                <! adding this to the confirm to try to get for edit
                ctrl.setCurrentPlan(planList.id); -->
              <!-- </div>
            </fieldset>
          </form>
        </div>

        <form ng-submit="ctrl.deletePlan(planList.id)" accept-charset="UTF-8" method="delete">
          <input name="_method" type="hidden" value="destroy"/>
          <button class="submitButton">Delete</button></h4></form> -->

<!-- </li>
</ul>
</div>

</section>  -->
<!---id plans---->
