<section id="plans" ng-if="ctrl.loggedin" ng-hide="!ctrl.loggedin">

<a id="plans"></a>

<img class="user-img img-responsive" src="./assets/pexels-photo-207153.jpeg" alt="Potential"/>

<h2 class="subtitle" ng-model="userPass.username">Hello, {{ctrl.userPass.username}}.  These are the success plans you have on record:</h2>


<!--  Plans Page ------------------------------------>
<div class="plans" ng-show="ctrl.plans">
  <img class="main-img img-responsive" src="" alt="plans"/>
  <div class="container main-container">
    <h2>My Library</h2>
    <div class="list" ng-repeat="plan in ctrl.planList track by $index">
      <h4>{{currentPlan.title}}</h4><br>
      <h4>{{currentPlan.affective_goal}}</h4><br> <h4>{{currentPlan.academic_goal}}</h4><br>
      <h4>{{currentPlan.task}}</h4><br>
      <h4>{{currentPlan.measure}}</h4><br>
      <h4>{{currentPlan.actions}}</h4><br>
      <h4>{{currentPlan.purpose}}</h4><br>
      <h4>{{currentPlan.deadline}}</h4><br>
    </div>
  </div>
</div>






<!-- Edit Plan Form -->

<div ng-if="ctrl.editPlanDisplay;">
  <form id="editPlanForm" method="update" ng-submit="ctrl.updatedPlan(ctrl.updatedPlan.title, ctrl.updatedPlan.affective_goal, ctrl.updatedPlan.academic_goal, ctrl.updatedPlan.task, ctrl.updatedPlan.measure, ctrl.updatedPlan.actions, ctrl.updatedPlan.purpose, ctrl.updatedPlan.deadline)">
    <fieldset class="editPlan">
      <div class="form-group">
        <input type="text" placeholder="Plan Title" ng-model="ctrl.updatedPlan.title"></br>

        <input type="text" ng-model="ctrl.updatedPlan.affective_goal" placeholder="Affective Growth Focus"/></br>

        <input type="text" ng-model="ctrl.updatedPlan.academic_goal" placeholder="Academic Focus Area"/> </br>

        <input type="text" ng-model="ctrl.updatedPlan.task" placeholder="Current Task to Grow"/> </br>

        <input type="text" ng-model="ctrl.updatedPlan.measure" placeholder="How I'll Measure"/> </br>

        <input type="text" ng-model="ctrl.updatedPlan.actions" placeholder="Steps I'll Take"/> </br>

        <input type="text" ng-model="ctrl.updatedPlan.purpose" placeholder="Why I Chose This"/> </br>

        <input type="date" ng-model="ctrl.updatedPlan.deadline" placeholder="Proposed Deadline"/> </br>


        <button type="submit" ng-click="ctrl.updatedPlan(); ctrl.toggleEditPlan();">Confirm</button>
        <!-- adding this to the confirm to try to get for edit
        ctrl.setCurrentPlan(planList.id); -->

        <form ng-submit="ctrl.deletePlan(planList.id)" accept-charset="UTF-8" method="delete">
          <input name="_method" type="hidden" value="destroy"/>
          <button class="submitButton">Delete</button></h4></form>
      </div>
    </fieldset>
  </form>
</div>



</section>

<!--  End Plans Page ------------------------------------>
