<body ng-controller="mainController as ctrl">
<!-- Create New Success Plan -->

<section id="plan">
<!-- to toggle create plan form open  -->
<div class="plan-page" ng-if='ctrl.createPlanModal'>
<!-- <img class="main-img img-responsive" src="./assets/pexels-photo-287748.jpeg" alt="Lightbulb"/> -->

<div class="row">
  <section class="col-md-4 col-md-offset-4">

<!-- create success plan form -->
<form class="ng-modal-overlay ng-modal-dialog" ng-if="ctrl.showPlanForm" ng-submit="ctrl.createPlan(plan)">
  <!-- does plan need to be passed in as a params in ctrl.createPlan? -->

    <fieldset>
        <div class="form-group">
                <input type="text" ng-model="plan.title" placeholder="Plan Title"/></br>

                <input type="text" ng-model="plan.affective_goal" placeholder="Affective Growth Focus"/></br>

                <input type="text" ng-model="plan.academic_goal" placeholder="Academic Focus Area"/></br>

                <input type="text" ng-model="plan.task" placeholder="Current Task to Grow"/></br>

                <input type="text" ng-model="plan.measure" placeholder="How I'll Measure"/></br>

                <input type="text" ng-model="plan.actions" placeholder="Steps I'll Take"/></br>

                <input type="text" ng-model="plan.purpose" placeholder="Why I Chose This"/></br>

                <input type="date" ng-model="plan.deadline" placeholder="Proposed Deadline"/></br>


            <input type="submit"/><div class="closeModal" ng-click="ctrl.toggleModal()"><a href="">
            <img src="./assets/icons8-Delete-50.png"></a></div>
          </br>
        </div>
    </fieldset>
</form>

</section>  <!---section plan close tag--->
