* {
  /*border: 1px solid hotpink;*/
  /*background-color: #39487f;*/
}

body {
  height: 100%;
  background-color: white;
}

h3, h4, h5, h6 {
  font-family: 'Schoolbell', cursive;
}


/*how get navbar on right side to stop bleeding over into white space?*/

.container-fluid {
padding: 0;

}
.navbar {
  margin: 0;
  font-weight: bold;
}

/*navbar background color*/
.navbar-default {
  /*background-color:#9fdce9;*/
  background-color: #273668;
  background-image: none;
  background-repeat: no-repeat;
 }

.navbar-right, .navbar-text, .navbar-left {
  margin-right: 15px;
  font-size: 3.5rem;
  padding: .10em .15em .10em .15em;
  font-family: 'Schoolbell', cursive;
  /*padding-top: .5em;*/
	margin-left: .5em;
	margin-right: .5em;
	margin-top: .25em;
  margin-bottom: .25em;
}

fieldset {
  width: 50%;
  margin: 0 auto;
}

.plan-page, .user-page {
  margin-top: 0;
  padding-top: 0;
  top: 0;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Schoolbell', cursive;
}

.create-plan-modal {
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Schoolbell', cursive;
  position: absolute;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  backface-visibility: hidden;
   /*for browsers that don't support viewport units (they also won't support CSS 3D transforms AFAIK) */
  height: 100%;
  /* for browsers that do support viewport units */
  height: 100vh;

}

.login, .register {
  padding-top: 1.5em;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Schoolbell', cursive;

}

li {
  list-style: none;
}

#heading {
  background: transparent;
  min-height: 100%;
  position: relative;
  /*padding-top: 5%;*/
  padding-bottom: 1%;
  width: 100%;
}

header {
  padding-top: 0;
  margin-top: 0;

}

.center-block {
  width: 35%;
  height: 65%;
  overflow: hidden;
  opacity: 0.4;
  background-color: white;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  display: block;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 3rem;
  /*padding-top: 1rem;*/
  color: #052a4d;
  padding-top: 0;
  position: relative;
  /*display: inline-block;*/
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  vertical-align: middle;
  float:none;
  flex-direction: column;
}

a.ontop {
  /*how can i get the links to move up in the div?*/
  /*color: white;*/
  font-weight: bold;
  font-size: 4rem;
  margin:inherit;
  padding-bottom: 10%;
  font-family: 'Schoolbell', cursive;
  /*opacity: 0;*/
  z-index: 1000;
  /*position: relative;*/
  top: 20em;
}

.title {
	font-family: 'Schoolbell', cursive;
	color: white;
	font-size: 10rem;
  margin: auto 0;
  text-align: center;
  font-weight: bold;
  padding-top: 3%;
  /*overflow: hidden;*/
  padding-bottom: 1.5%;

}
.subtitle {
  color: white;
  /*font-weight: bold;*/
  font-size: 5rem;
  margin: auto 0;
  text-align: center;
  /*top: 60px;*/
  font-family: 'Schoolbell', cursive;
  /*overflow: hidden;*/
  padding-top: 5%;
  padding-bottom: 1%;
}

/*  Background Image */

hr.type_8 {
border: 0;
height: 4rem;
width: auto;
margin: auto 0;
align-self: center;
background-image: url("/assets/type_8.png");
background-position: center center fixed no-repeat;

}

/*=============
About Section
=============*/
#about-container {
	width: 100%;
	padding-bottom: 0;
  /*display: inline-block;*/
	position: relative;
}

#about-jumbotron  {
	background-color: white;
	width: 100%;
	text-align: center;
	padding: 5%;
}

#about-container img {
	height: 15em;
	width: 15em;
}

.indexTitle {
  color: black;
  /*font-weight: bold;*/
  font-size: 5rem;
  cursor: pointer;
}

#planListTitles {
  color: black;
  /*font-weight: bold;*/
  font-size: 2rem;
  cursor: pointer;
}



/*background images*/
.main-img, .user-img, .plan-img, .plans-img {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
  top: 0px;
  left: 0px;
  background-position: center center fixed no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

#heading {
  background: transparent;
  min-height: 100%;
  position: relative;
  padding-top: 3%;
  padding-bottom: 1%;
  width: 100%;
}


.jumbotron {
  background-color: #ffffff;
  justify-content: center;
  font-family: 'Schoolbell', cursive;
	color: white;
	font-size: 10rem;
  text-align: center;
  /*opacity: .25;*/
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 75%;
  padding-bottom: 15%;
  margin: auto 0;
  align-items: center;
  top: 60px;
  z-index: 100;


  /*z-index: 100;*/
  overflow: hidden;
}

.user-page, .plan-page {
    position: block;
    padding-top: 1%;
}

/*====================
Success Plan Section
====================*/



.extraClass {
	font-size: 3rem;
	color: #273668;
	cursor: pointer;
	/*margin: 0 auto;*/
}

#createdPlan {
  font-size: 8rem;
  font-weight: bold;
  color: black;
  border: 1px solid hotpink;

}

/*.profile {
  color: white;
  font-weight: bold;
  font-size: 30rem;
  margin: auto 0;
  text-align: center;
  top: 60px;
  z-index: 100;
  overflow: hidden;
  position: absolute;

}*/



/*footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  font-family: 'Schoolbell', cursive;
  background-color: #262a31;
  color: #ffffff;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20%;*/
  /*position: absolute;*/
  /*display: inline-block;*/
  /*padding: 2%;*/
  /*padding-bottom: 0;*/
/*}*/

/*footer span {
  color: #1787b0;
}*/




/*resources I used:
https://css-tricks.com/forums/topic/modal-dialog-wont-centre-on-screen/*/
