/** {
  border: 1px solid hotpink;
}*/

body {
  height: 100%;
}

h3, h4, h5, h6 {
  font-family: 'Schoolbell', cursive;
}


/*how get navbar on right side to stop bleeding over into white space?*/
.navbar {
  margin: 0;
  font-weight: bold;

}

.navbar-right, .navbar-text {
  /*margin-right: 15px;*/
  font-size: 3.5rem;
  font-family: 'Schoolbell', cursive;
}

fieldset {
  width: 50%;
  margin: 0 auto;
}

.login, .register, .plan-page {
  padding-top: 100px;
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Schoolbell', cursive;
}

li {
  list-style: none;
}

.center-block {
  width: 40%;
  height: 100%;
  overflow: hidden;
  opacity: 0.4;
  background-color: white;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem;
  color: #052a4d;


}

.link {
  /*how can i get the links to move up in the div?*/
  color: white;
  font-weight: bold;
  font-size: 5rem;
  margin:inherit;
  padding-bottom: 10%;

  font-family: 'Schoolbell', cursive;
}

.title {
	font-family: 'Schoolbell', cursive;
	color: white;
	font-size: 10rem;
  margin: auto 0;
  text-align: center;
  font-weight: bold;
  padding-top: 8%;
  overflow: hidden;
  padding-bottom: 1.5%;

}
.subtitle {
  color: white;
  /*font-weight: bold;*/
  font-size: 5rem;
  margin: auto 0;
  text-align: center;
  top: 60px;
  font-family: 'Schoolbell', cursive;
  overflow: hidden;
  padding-bottom: 1%;
}



/*background images*/
.main-img, .user-img, .plan-img {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
  top: 0px;
  left: 0px;
  background-position: center center fixed no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

#heading {
  background: transparent;
  min-height: 100%;
  position: relative;
  padding-top: 3%;
  padding-bottom: 1%;
  width: 100%;
}


.jumbotron {
  background-color: #ffffff;
  justify-content: center;
  font-family: 'Schoolbell', cursive;
	color: white;
	font-size: 10rem;
  text-align: center;
  /*opacity: .25;*/
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 75%;
  padding-bottom: 15%;
  margin: auto 0;
  align-items: center;



  top: 60px;
  z-index: 100;
  position: absolute;

  /*z-index: 100;*/
  overflow: hidden;

}

/*.profile {
  color: white;
  font-weight: bold;
  font-size: 30rem;
  margin: auto 0;
  text-align: center;
  top: 60px;
  z-index: 100;
  overflow: hidden;
  position: absolute;

}*/



/*footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  font-family: 'Schoolbell', cursive;
  background-color: #262a31;
  color: #ffffff;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 20%;*/
  /*position: absolute;*/
  /*display: inline-block;*/
  /*padding: 2%;*/
  /*padding-bottom: 0;*/
}

/*footer span {
  color: #1787b0;
}*/
