<!--   User Page ------------------------------------>

<section id="user">
<div class="user-page" ng-if='ctrl.loggedin'>
<img class="main-img img-responsive" src="./assets/pexels-photo-207153.jpeg" alt="Potential"/>

<!-- <div class="container"> -->


<!-- <div class="jumbotron"> -->
  <div class="row" style="margin-bottom: 2rem" >



    <section class="col-xs-7">
      <h2 class="subtitle" ng-model="userPass.username">Hello, {{ctrl.userPass.username}}</h2>

      <h2 class="subtitle" ng-model="userPass.grade">Current Grade: {{ctrl.userPass.grade}}</h2>

      <h2 class="subtitle" ng-model="userPass.interests">My Interests: {{ctrl.userPass.interests}}</h2>

      <h2 class="subtitle" ng-model="userPass.strengths">My Strengths: {{ctrl.userPass.strengths}}</h2>

      <h2 class="subtitle" ng-model="userPass.aspirations">My Aspirations: {{ctrl.userPass.aspirations}}</h2>
    </section>

  </div>

<!-- </div> close jumbotron tag--->
 <!---close container tag--->
  <div class="row">
  <!--- Left Side  ---->

  <!--- User Options  ---->
  <section class="col-xs-4 col-xs-offset-4">
    <ul>


        <!--- Create New Success Plan  ---->
        <div class="addPlan" ng-show="ctrl.createPlanModal">
        <li><button class="btn btn-default" ng-click="ctrl.createPlan()">Create New Success Plan</li>
          <form ng-if="ctrl.showPlanForm" class="ng-modal-overlay ng-modal-dialog" ng-submit="ctrl.addPlan(plan)">
            <!-- need to add column to table so that user can add a title to their plan? -->
            <input type="text" ng-model="plan.affective_goal" placeholder="Affective Growth Focus"/>
            <input type="text" ng-model="plan.academic_goal" placeholder="Academic Focus Area"/>
            <input type="text" ng-model="plan.task" placeholder="What I Want To Do To Grow in Focus Area(s)"/>
            <input type="text" ng-model="plan.measure" placeholder="How I'll Measure Progress"/>
            <input type="text" ng-model="plan.actions" placeholder="Steps I'll Take"/>
            <input type="text" ng-model="plan.purpose" placeholder="Why I Chose This Approach"/>
            <input type="date" ng-model="plan.deadline" placeholder="Proposed Deadline"/>

            <input type="submit"/>
          </form>





        <!--- Right Side  ---->

        <!--- User Options  ---->
        <section class="col-xs-4">
          <ul>

            <!--- Show User Info  ---->
            <li class="btn btn-default" ng-click="ctrl.getAccount()"><span class="glyphicon glyphicon-user"></span></li>


            <!--- Go to Success Plan Index  ---->
            <li class="btn btn-default" ng-click="ctrl.savedPlans()"><span class="glyphicon glyphicon-list"></span></li>



          </section>
          </div>

  </body>
</section>  <!---section id user close tag--->
</html>



<!--  End User Page ------------------------------------>
